
services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=bobry_db
      - POSTGRES_USER=bobry_user
      - POSTGRES_PASSWORD=12345
    depends_on:
      - db
    volumes:
      - ./media:/app/media
    command: >
      sh -c "sleep 5 &&
             python manage.py collectstatic --noinput &&
             python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=bobry_db
      - POSTGRES_USER=bobry_user
      - POSTGRES_PASSWORD=12345
    volumes:
      - postgres_data:/var/lib/postgresql/data
      

volumes:
  postgres_data: